Repository test-prof/test-prof: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche -d docs/ -r docs/* CHANGELOG.md README.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

fix: fix AnyFixture after_fixtures_reset spec
  spec/test_prof/any_fixture_spec.rb
Due: none

chore: update docs and changelog
  CHANGELOG.md
  docs/recipes/any_fixture.md
Due: mdl, liche, forspell, rubocop

feat: implement AnyFixture.before_reset and AnyFixture.after_reset
  lib/test_prof/any_fixture.rb
  lib/test_prof/any_fixture/dsl.rb
  spec/integrations/fixtures/rspec/any_fixture_callbacks_fixture.rb
  spec/test_prof/any_fixture_spec.rb
Due: none

fix: raise meaningful error on a missing any fixture
  lib/test_prof/any_fixture.rb
Due: none

Thank you, Charles! @charly
  BACKERS.md
Due: liche

Fix Postgres dump with ActiveRecord 6.1
  CHANGELOG.md
  lib/test_prof/any_fixture/dump/postgresql.rb
Due: liche

Bump 1.0.9
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

fix option name
  docs/profilers/tag_prof.md
Due: mdl, liche, forspell, rubocop

Thanks, @github!
  BACKERS.md
Due: liche

Reset colors before newline
  lib/test_prof/logging.rb
Due: none

fix: style
  lib/test_prof/factory_doctor/minitest.rb
  lib/test_prof/factory_doctor/rspec.rb
  lib/test_prof/rspec_stamp.rb
Due: none

ci: upgrade jruby
  .github/workflows/rspec-jruby.yml
Due: none

fix(tests): fabrication setup
  spec/integrations/fixtures/rspec/factory_doctor_fixture.rb
  spec/support/ar_models.rb
Due: none

feat: improve logging
  CHANGELOG.md
  lib/test_prof/recipes/logging.rb
  spec/integrations/fixtures/rspec/logging_fixture.rb
  spec/integrations/logging_spec.rb
  spec/support/ar_models.rb
Due: liche

ci: add Ruby 3.1 and Rails 7
  .github/workflows/rspec.yml
  Gemfile
  gemfiles/activerecord7.gemfile
  lefthook.yml
Due: none

Bump 1.0.10
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

Fix typo in event TestProf::EventProf code comment
  lib/test_prof/event_prof.rb
Due: none

don't overwrite saved lock_thread value in nested contexts
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

changelog
  CHANGELOG.md
Due: liche

Disable GC frames with TEST_STACK_PROF_IGNORE_GC=1
  CHANGELOG.md
  docs/profilers/stack_prof.md
  lib/test_prof/stack_prof.rb
  spec/test_prof/stack_prof_spec.rb
Due: mdl, liche, forspell, rubocop

ci: liche -> lychee
  .github/workflows/docs-lint.yml
Due: none

fix: stack_prof_spec
  lib/test_prof/stack_prof.rb
  spec/test_prof/stack_prof_spec.rb
Due: none

fix(event_prof): monitor methods with kwargs in Ruby 2.7+
  CHANGELOG.md
  lib/test_prof/event_prof/monitor.rb
  spec/integrations/fixtures/rspec/event_prof_monitor_fixture.rb
Due: liche

style: ignore md indentation
  .mdlrc
Due: none

ci: use latest jruby
  .github/workflows/rspec-jruby.yml
Due: none

Bump 1.0.11
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

WIP Multi Databases
  spec/integrations/before_all_spec.rb
  spec/integrations/fixtures/rspec/before_all_fixture.rb
  spec/support/ar_models_multi_db.rb
Due: none

feat(factory_default): allow skipping defaults
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  spec/support/ar_models.rb
  spec/test_prof/factory_default_spec.rb
Due: mdl, liche, forspell, rubocop

feat(factory_default): add preserve_attributes support
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  lib/test_prof/factory_default/factory_bot_patch.rb
  spec/test_prof/factory_default_spec.rb
Due: mdl, liche, forspell, rubocop

refactor(factory_default): add configuration object
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  spec/integrations/fixtures/rspec/factory_default_fixture.rb
Due: mdl, liche, forspell, rubocop

feat: make factory default before_all-compatible
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/before_all.rb
  lib/test_prof/factory_default.rb
  lib/test_prof/recipes/rspec/before_all.rb
  lib/test_prof/recipes/rspec/factory_default.rb
  spec/integrations/factory_default_spec.rb
  spec/integrations/fixtures/rspec/factory_default_let_it_be_fixture.rb
Due: mdl, liche, forspell, rubocop

feat(factory_default): add stats
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  lib/test_prof/recipes/rspec/factory_default.rb
Due: mdl, liche, forspell, rubocop

Path conditions:
  mdl: any of: **/*.md
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
