Repository test-prof/test-prof: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    liche:
      tags: links
      glob: "*.md"
      run: liche -d docs/ -r docs/* CHANGELOG.md README.md && test "{staged_files}"
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

Update let_it_be.rb
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

Update BACKERS.md
  BACKERS.md
Due: liche

style: rubocop upgrade
  lib/test_prof/recipes/logging.rb
  lib/test_prof/rspec_stamp.rb
  lib/test_prof/rspec_stamp/parser.rb
  lib/test_prof/stack_prof.rb
  spec/integrations/fixtures/rspec/let_it_be_fixture.rb
  spec/integrations/profilers_spec.rb
  spec/spec_helper.rb
  spec/test_prof/factory_prof/printers/flamegraph_spec.rb
Due: none

Update let_it_be.md
  docs/recipes/let_it_be.md
Due: mdl, liche, forspell, rubocop

Updates spec to confirm newlines work
  spec/test_prof/any_fixture_spec.rb
Due: none

Adds functionality in sqlite and postgresql to support newlines
  lib/test_prof/any_fixture/dump/postgresql.rb
  lib/test_prof/any_fixture/dump/sqlite.rb
Due: none

tests: add repro for #224
  spec/bugs/fixtures/let_it_be_frozen_fixture.rb
  spec/bugs/let_it_be_frozen_spec.rb
Due: none

tests(#224): add freeze: true by default
  spec/bugs/fixtures/let_it_be_frozen_fixture.rb
Due: none

tests(#224): add freeze: false to parent
  spec/bugs/fixtures/let_it_be_frozen_fixture.rb
Due: none

JRuby is cat friendly
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

spec: fix time helpers loading in Rails 7+
  spec/bugs/fixtures/time_patch_fixture.rb
Due: none

chore: add missing requires and use require instead of require_relative
  lib/test_prof/any_fixture.rb
  lib/test_prof/before_all.rb
  lib/test_prof/cops/rspec/aggregate_examples.rb
  lib/test_prof/cops/rspec/aggregate_examples/matchers_with_side_effects.rb
  lib/test_prof/cops/rspec/aggregate_examples/node_matchers.rb
  lib/test_prof/factory_all_stub.rb
  lib/test_prof/factory_default.rb
  lib/test_prof/recipes/rspec/let_it_be.rb
  lib/test_prof/rspec_dissect/collectors/before.rb
  lib/test_prof/rspec_dissect/collectors/let.rb
  lib/test_prof/rubocop.rb
Due: none

fix(specs): kwargs -> hash for RubyProf::Profile.new stub
  spec/test_prof/ruby_prof_spec.rb
Due: none

restore the lock_thread value after rollback
  lib/test_prof/before_all/adapters/active_record.rb
  spec/integrations/before_all_spec.rb
  spec/integrations/fixtures/minitest/before_all_connection_fixture.rb
  spec/integrations/fixtures/rspec/before_all_connection_fixture.rb
Due: none

Respect the printer on the configure block
  lib/test_prof/factory_prof.rb
  spec/test_prof/factory_prof_spec.rb
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: liche

use :@lock_thread instead of "@lock_thread"
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

add a changelog entry
  CHANGELOG.md
Due: liche

avoid instance variable collisions with cats
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

Fix rubocop warnings
  spec/test_prof/factory_prof_spec.rb
Due: none

Satisfy rubocop
  spec/integrations/fixtures/rubocop/aggregate_failures_fixture.rb
Due: none

Thanks @pennylane-hq!
  BACKERS.md
Due: liche

Update CHANGELOG.md
  CHANGELOG.md
Due: liche

Respect the printer on the configure block (#237)
  CHANGELOG.md
  lib/test_prof/factory_prof.rb
  spec/integrations/fixtures/rubocop/aggregate_failures_fixture.rb
  spec/test_prof/factory_prof_spec.rb
Due: liche

restore the lock_thread value after rollback (#236)
  CHANGELOG.md
  lib/test_prof/before_all/adapters/active_record.rb
  spec/integrations/before_all_spec.rb
  spec/integrations/fixtures/minitest/before_all_connection_fixture.rb
  spec/integrations/fixtures/rspec/before_all_connection_fixture.rb
Due: liche

Make defaults threadsafe
  CHANGELOG.md
  lib/test_prof/factory_default.rb
  spec/integrations/fixtures/rspec/factory_default_fixture.rb
Due: liche

fix: revert rubocop fixture
  spec/integrations/fixtures/rubocop/aggregate_failures_fixture.rb
Due: none

Bump 1.0.8
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

typo(changelog): unrealeased -> unreleased
  CHANGELOG.md
Due: liche

feat: implement AnyFixture.before_reset and AnyFixture.after_reset
  lib/test_prof/any_fixture.rb
  lib/test_prof/any_fixture/dsl.rb
  spec/integrations/fixtures/rspec/any_fixture_callbacks_fixture.rb
  spec/test_prof/any_fixture_spec.rb
Due: none

chore: update docs and changelog
  CHANGELOG.md
  docs/recipes/any_fixture.md
Due: mdl, liche, forspell, rubocop

chore: rename AnyFixture callbacks
  CHANGELOG.md
  docs/recipes/any_fixture.md
  lib/test_prof/any_fixture.rb
  lib/test_prof/any_fixture/dsl.rb
  spec/integrations/fixtures/rspec/any_fixture_callbacks_fixture.rb
  spec/test_prof/any_fixture_spec.rb
Due: mdl, liche, forspell, rubocop

lint: fix Layout/CaseIndentation offense
  lib/test_prof/cops/rspec/aggregate_examples/its.rb
Due: none

fix: fix AnyFixture after_fixtures_reset spec
  spec/test_prof/any_fixture_spec.rb
Due: none
