Repository test-prof/test-prof: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche -d docs/ -r docs/* CHANGELOG.md README.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

feat(factory_default): per-trait defaults
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  spec/test_prof/factory_default_spec.rb
Due: mdl, liche, forspell, rubocop

feat: add factory_default profiling
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  lib/test_prof/factory_default/factory_bot_patch.rb
  spec/integrations/factory_default_spec.rb
  spec/integrations/fixtures/rspec/factory_default_analyze_fixture.rb
Due: mdl, liche, forspell, rubocop

fix(factory_default): refind default records created outside of examples
  lib/test_prof/factory_default.rb
Due: none

fix: style
  docs/recipes/factory_default.md
  lefthook.yml
  lib/test_prof/factory_doctor/minitest.rb
  lib/test_prof/factory_prof.rb
  lib/test_prof/rspec_dissect.rb
  lib/test_prof/stack_prof.rb
  lib/test_prof/tag_prof/rspec.rb
Due: mdl, liche, forspell, rubocop

fix(let_it_be): array-like records detection
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

ci: jruby-9.3
  .github/workflows/rspec-jruby.yml
Due: none

refactor(factory_default): add configuration object
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  spec/integrations/fixtures/rspec/factory_default_fixture.rb
Due: mdl, liche, forspell, rubocop

feat(factory_default): add stats
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  lib/test_prof/recipes/rspec/factory_default.rb
Due: mdl, liche, forspell, rubocop

feat: make factory default before_all-compatible
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/before_all.rb
  lib/test_prof/factory_default.rb
  lib/test_prof/recipes/rspec/before_all.rb
  lib/test_prof/recipes/rspec/factory_default.rb
  spec/integrations/factory_default_spec.rb
  spec/integrations/fixtures/rspec/factory_default_let_it_be_fixture.rb
Due: mdl, liche, forspell, rubocop

feat(factory_default): add preserve_attributes support
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  lib/test_prof/factory_default/factory_bot_patch.rb
  spec/test_prof/factory_default_spec.rb
Due: mdl, liche, forspell, rubocop

feat(factory_default): allow skipping defaults
  CHANGELOG.md
  docs/recipes/factory_default.md
  lib/test_prof/factory_default.rb
  spec/support/ar_models.rb
  spec/test_prof/factory_default_spec.rb
Due: mdl, liche, forspell, rubocop

fix: freeze let_it_be objects on initialization
  CHANGELOG.md
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: liche

feat: add global before_all tags
  CHANGELOG.md
  docs/recipes/before_all.md
  lib/test_prof/before_all.rb
  lib/test_prof/recipes/rspec/before_all.rb
  spec/integrations/fixtures/rspec/before_all_hooks_fixture.rb
Due: mdl, liche, forspell, rubocop

feat: add more specs for global before_all tags
  CHANGELOG.md
  docs/recipes/before_all.md
  spec/integrations/fixtures/rspec/before_all_hooks_fixture.rb
Due: mdl, liche, forspell, rubocop

Bump 1.1.0
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

chore(any_fixture): drop deprecated reporting_enabled
  lib/test_prof/any_fixture.rb
  spec/test_prof/any_fixture_spec.rb
Due: none

Fix typo
  docs/recipes/factory_default.md
Due: mdl, liche, forspell, rubocop

Add support for multiple databases
  lib/test_prof/before_all/adapters/active_record.rb
  spec/test_prof/before_all/adapters/active_record_spec.rb
Due: none

update before_all documentation
  CHANGELOG.md
  docs/recipes/before_all.md
Due: mdl, liche, forspell, rubocop

Use multiple databases
  spec/integrations/fixtures/rspec/before_all_isolator_fixture.rb
  spec/support/ar_models.rb
  spec/test_prof/before_all/adapters/active_record_spec.rb
Due: none

Use database adapter for retrieving connection
  lib/test_prof/before_all/adapters/active_record.rb
  spec/test_prof/before_all/adapters/active_record_spec.rb
Due: none

Ensure ActiveRecord 5 is supported
  lib/test_prof/before_all/adapters/active_record.rb
  spec/support/ar_models.rb
Due: none

Run rspec with MULTI_DB=true for ActiveRecord 7 specs
  .github/workflows/rspec.yml
Due: none

Remove duplicate empty line
  docs/recipes/before_all.md
Due: mdl, liche, forspell, rubocop

Reset available connections when transaction is started
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

Path conditions:
  mdl: any of: **/*.md
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
