Repository test-prof/test-prof: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche -d docs/ -r docs/* CHANGELOG.md README.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

ci: refactor rspec matrix
  .github/workflows/rspec.yml
  gemfiles/activerecord42.gemfile
  gemfiles/activerecord5.gemfile
  gemfiles/rspec35.gemfile
Due: none

ci: temp ignore liche failures
  .github/workflows/docs-lint.yml
Due: none

chore: drop obsolete Active Record 3 code
  lib/test_prof/before_all/adapters/active_record.rb
  lib/test_prof/ext/active_record_3.rb
  spec/integrations/fixtures/rspec/before_all_fixture.rb
  spec/integrations/fixtures/rspec/before_all_hooks_fixture.rb
  spec/integrations/fixtures/rspec/before_all_isolator_fixture.rb
  spec/support/ar_models.rb
  spec/support/transactional_context.rb
  spec/support/transactional_minitest.rb
Due: none

fix: make sure sqlite file db doesn't exist
  .gitignore
  spec/support/ar_models.rb
Due: none

chore: drop active_record_shared_connection
  CHANGELOG.md
  docs/_sidebar.md
  docs/recipes/active_record_shared_connection.md
  lib/test_prof/recipes/active_record_one_love.rb
  lib/test_prof/recipes/active_record_shared_connection.rb
Due: mdl, liche, forspell, rubocop

chore: drop AggregateFailures cop
  CHANGELOG.md
  config/default.yml
  lib/test_prof/cops/rspec/aggregate_failures.rb
  lib/test_prof/rubocop.rb
  lib/test_prof/version.rb
  spec/integrations/rubocop_spec.rb
Due: liche

chore: add deprecated #reporting_enabled test
  lib/test_prof/any_fixture.rb
  spec/test_prof/any_fixture_spec.rb
Due: none

Bump 1.0.0.rc1
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

feat: add after_all for Minitest
  CHANGELOG.md
  docs/README.md
  docs/getting_started.md
  docs/recipes/before_all.md
  lib/test_prof/recipes/minitest/before_all.rb
  spec/integrations/before_all_spec.rb
  spec/integrations/fixtures/minitest/before_all_fixture.rb
Due: mdl, liche, forspell, rubocop

fix: patch .run method instead using examples count to deactivate before_all
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

fix: active before_all in before_setup hook
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

feat: support fixtures in before_all hooks
  CHANGELOG.md
  docs/recipes/before_all.md
  lib/test_prof/before_all.rb
  lib/test_prof/before_all/adapters/active_record.rb
  lib/test_prof/recipes/minitest/before_all.rb
  lib/test_prof/recipes/rspec/before_all.rb
  lib/test_prof/recipes/rspec/let_it_be.rb
  spec/integrations/fixtures/rspec/let_it_be_fixture.rb
Due: mdl, liche, forspell, rubocop

docs: add missing since to before_all
  docs/recipes/before_all.md
Due: mdl, liche, forspell, rubocop

Bump 1.0.0.rc2
  CHANGELOG.md
  docs/README.md
  docs/getting_started.md
  lib/test_prof/version.rb
Due: mdl, liche, forspell, rubocop

chore: upd let_it_be spec
  spec/integrations/fixtures/rspec/let_it_be_fixture.rb
Due: none

Fix the typo in the `let_it_be` documentation
  docs/recipes/let_it_be.md
Due: mdl, liche, forspell, rubocop

fix: open a temp dump file only when needed
  lib/test_prof/any_fixture/dump.rb
Due: none

docs: minor updates
  docs/recipes/any_fixture.md
  docs/recipes/factory_default.md
Due: mdl, liche, forspell, rubocop

github: add funding
  .github/FUNDING.yml
  BACKERS.md
Due: liche

Bump 1.0.0
  .github/workflows/push-stable.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/getting_started.md
  lib/test_prof/version.rb
Due: mdl, liche, forspell, rubocop

fix second error when exception message is frozen
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

Raise duplicated exception with changed message
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

Updated call to reporting_enabled?
  lib/test_prof/recipes/rspec/any_fixture.rb
Due: none

ci: disable rails master tests
  .github/workflows/rspec.yml
Due: none

Bump 1.0.1
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

ci: freeze i18n version for jruby
  gemfiles/jruby.gemfile
Due: none

fix(before_all): make setup_fixtures Rails 6.1 compatible
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

fix ActiveRecord -> ::ActiveRecord
  lib/test_prof/before_all/adapters/active_record.rb
Due: none

ci: pun jruby version
  .github/workflows/rspec-jruby.yml
Due: none

Bump 1.0.2
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

docs: update coggle
  README.md
  docs/README.md
  docs/assets/images/coggle.png
Due: mdl, liche, forspell, rubocop

style: upgrade standard to 1.0
  .rubocop.yml
  gemfiles/rubocop.gemfile
  lib/test_prof/any_fixture.rb
  lib/test_prof/any_fixture/dump.rb
  lib/test_prof/before_all.rb
  lib/test_prof/event_prof/custom_events.rb
  lib/test_prof/event_prof/instrumentations/active_support.rb
  lib/test_prof/event_prof/profiler.rb
  lib/test_prof/factory_prof.rb
  lib/test_prof/recipes/logging.rb
  lib/test_prof/recipes/minitest/before_all.rb
  lib/test_prof/recipes/rspec/before_all.rb
  lib/test_prof/rspec_dissect.rb
  lib/test_prof/utils/sized_ordered_set.rb
  spec/bugs/time_patch_handling_spec.rb
  spec/integrations/any_fixture_spec.rb
  spec/integrations/factory_prof_spec.rb
  spec/integrations/fixtures/rspec/before_all_isolator_fixture.rb
  spec/integrations/profilers_spec.rb
  spec/integrations/tag_prof_spec.rb
  spec/support/ar_models.rb
Due: none

Require tsort library
  lib/test_prof/ruby_prof.rb
Due: none

Suggest require: false on bundling the gem
  README.md
  docs/README.md
  docs/getting_started.md
Due: mdl, liche, forspell, rubocop

Path conditions:
  mdl: any of: **/*.md
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
