Repository test-prof/test-prof: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche -d docs/ -r docs/* CHANGELOG.md README.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

fix: require rspec_dissect only when RSpec is used
  lib/test_prof.rb
  lib/test_prof/rspec_dissect.rb
Due: none

fix(style): redundant begin
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

fix(ruby_prof): exclude TSort methods only when defined
  lib/test_prof/ruby_prof.rb
Due: none

Raise duplicated exception with changed message
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

fix second error when exception message is frozen
  lib/test_prof/recipes/rspec/let_it_be.rb
Due: none

Bump 1.0.3
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

misc: add funding_uri
  test-prof.gemspec
Due: none

docs: remove since
  docs/profilers/event_prof.md
  docs/profilers/factory_doctor.md
  docs/profilers/factory_prof.md
  docs/recipes/before_all.md
  docs/recipes/let_it_be.md
Due: mdl, liche, forspell, rubocop

dev: fix Gemfile.local loading
  Gemfile
Due: none

style: autocorrect
  lib/test_prof/rspec_stamp.rb
  lib/test_prof/tag_prof/result.rb
  lib/test_prof/tag_prof/rspec.rb
Due: none

feat: factory prof nate heckler
  CHANGELOG.md
  docs/profilers/factory_prof.md
  lib/test_prof/factory_prof.rb
  lib/test_prof/factory_prof/nate_heckler.rb
  lib/test_prof/factory_prof/printers/flamegraph.rb
  lib/test_prof/factory_prof/printers/nate_heckler.rb
  lib/test_prof/factory_prof/printers/simple.rb
  spec/integrations/factory_prof_spec.rb
  spec/integrations/fixtures/rspec/factory_prof_with_nate_fixture.rb
Due: mdl, liche, forspell, rubocop

fix(specs): upd output filtering for jruby
  spec/integrations/sample_spec.rb
Due: none

ci: enable rails master
  .github/workflows/rspec.yml
Due: none

fix(any_fixture): dump Rails 7 compatibility
  lib/test_prof/any_fixture/dump.rb
Due: none

feat: allow providing a custom logger
  docs/getting_started.md
  lib/test_prof.rb
  lib/test_prof/logging.rb
Due: mdl, liche, forspell, rubocop

Bump 1.0.4
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

ci: add force:true to push-stable workflow
  .github/workflows/push-stable.yml
Due: none

fix(regression): add newlines to logs
  CHANGELOG.md
  lib/test_prof/logging.rb
Due: liche

fix: use color logs only for tty io, initialize logger lazily
  lib/test_prof.rb
Due: none

Bump 1.0.5
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

feat: make before_all minitest inheritable
  CHANGELOG.md
  lib/test_prof/recipes/minitest/before_all.rb
  spec/integrations/before_all_spec.rb
  spec/integrations/fixtures/minitest/before_all_inherit_fixture.rb
Due: liche

fix: recognize DISABLE_SPRING
  CHANGELOG.md
  lib/test_prof.rb
Due: liche

Bump 1.0.6
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

fix: check that Rails is present, i.e. the including class supports #parallelize
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

Documentation `disable!` typo
  docs/recipes/factory_all_stub.md
Due: mdl, liche, forspell, rubocop

Allow access to `let_it_be` defined variables in after(:context)
  CHANGELOG.md
  lib/test_prof/recipes/rspec/let_it_be.rb
  spec/integrations/fixtures/rspec/let_it_be_fixture.rb
Due: liche

fix: fix Rubocop warning and before_all test cases
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

fix: deactivate before_all_executor after last test file per process
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

feature: Add support for (process) parallelized tests to before_all for minitest.
  CHANGELOG.md
  lib/test_prof/recipes/minitest/before_all.rb
Due: liche

fix: call deactivate on the correct before_all_executor for parallel tests
  lib/test_prof/recipes/minitest/before_all.rb
Due: none

Bump 1.0.7
  CHANGELOG.md
  lib/test_prof/version.rb
Due: liche

upd: suggest using d3-flamegraph for stack_prof
  lib/test_prof/stack_prof.rb
Due: none

Path conditions:
  mdl: any of: **/*.md
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
